<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center my-4">Search for Weather:</h3>
            <form (ngSubmit)="getDataFromApi(weatherLocation.value)" [formGroup]="weatherLocation">
                <div class="form-group">
                    <input class="form-control" id="location" type="text" placeholder="Please input a Location" formControlName='location'>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-md">Search for the weather</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3 class="text-center my-4">Weather Details:</h3>
        </div>
    </div>
</div>