<div class="container">
    <div class="align">
        <form (ngSubmit)="getDataFromApi(weatherLocation.value)" [formGroup]="weatherLocation">
            <div class="form-group">
                <input class="form-control" id="location" type="text" placeholder="Please input a Location" formControlName='location'>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-md">Search for the weather</button>
            </div>
        </form>
    </div>

    <div class="vertical-center">
        <p class="text-center">
            {{this.weatherData?.current.temperature}} &#176; C
        </p>
    </div>
</div>