.full-screen {
    height: 100vh;
    width: 100vw;
}

.input-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1vw;
    margin: 1em;
}

.submit-button {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.display {
    min-width: 550px;
    min-height: 300px;
    color: white;
    width: 40vw;
    height: 40vh;
    background-color: #164058;
    margin: 5vh auto 0 auto;
    border: 5px solid rgb(255, 255, 255, 0.25);
    border-radius: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
}

.display>p {
    text-align: center;
    margin: 0.2em;
}

.item1 {
    font-weight: bolder;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2em;
}

.item3 {
    font-size: 2em;
}

.image {
    height: 1em;
    width: 1em;
}

.back {
    position: absolute;
    top: 2%;
    left: 5%;
    font-weight: bolder;
}

@media screen and (max-width: 580px) {
    .display {
        width: auto;
        height: auto;
        min-width: fit-content;
        min-height: fit-content;
        grid-template-columns: auto !important;
    }

    .align {
        margin-top: 10vh;
    }

    .back {
        left: 0%;
    }
}