.main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.hindi {
    background-color: rgba(13, 1, 41, 0.801);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 50%;
    transition: width ease-in-out 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.english {
    background-color: rgba(0, 238, 255, 0.493);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 50%;
    transition: width ease-in-out 0.5s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.expand1 {
    width: 60%;
    background-image: linear-gradient(#4286f4, #373B44);
}

.expand {
    background-image: linear-gradient(#E5E5BE, #003973);
    width: 60%;
}

.expand>a,
.expand1>a {
    transform: scale(1.5);
}

.shrink {
    width: 40%;
}

a {
    display: block;
    text-decoration: none;
    background: none;
    border: 2px solid;
    font-size: 10vh;
    transition: 0.25s;
    line-height: 1;
    position: relative;
    z-index: 2;
    padding: 1em 2em;
}

.hindi>a {
    border-right: 0;
    border-color: rgb(13, 1, 41);
    color: rgb(13, 1, 41);
}

.english>a {
    border-left: 0;
    border-color: rgb(254, 255, 212);
    color: rgb(254, 255, 212);
}

.hindi>.lang:hover,
.lang:focus {
    box-shadow: inset 6.5em 0 0 0 rgb(13, 1, 41);
    border-color: rgb(0, 238, 255);
    color: rgb(0, 238, 255);
}

.english>.lang:hover,
.lang:focus {
    box-shadow: inset -6.5em 0 0 0 rgb(0, 238, 255);
    border-color: rgb(13, 1, 41);
    color: rgb(13, 1, 41);
}

.sun {
    position: absolute;
    opacity: 0;
    top: 30%;
    left: 10%;
    border-radius: 50%;
    height: 50px;
    background: white;
    width: 50px;
    box-shadow: 0px 0px 40px 15px white;
    transition: all ease-in-out 0.3s;
}

.moon {
    position: absolute;
    opacity: 0;
    top: 30%;
    right: 10%;
    border-radius: 90%;
    height: 50px;
    background: transparent;
    width: 50px;
    box-shadow: 10px 5px 0px 0px white;
    transition: all ease-in-out 0.3s;
}

.disp {
    top: 10%;
    opacity: 1;
}

.background {
    position: absolute;
    width: 100%;
    width: inherit;
    background-image: url(../../assets/mountains.svg);
    background-size: cover;
    ;
    background-attachment: fixed;
}

.cloud1:before,
.cloud2:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    top: -10px;
    left: 12.5px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: 20px -5px 0 10px white, 20px -5px 0 5px white, 45px -2.5px 0 5px white;
}

.cloud1,
.cloud2 {
    width: 100px;
    height: 25px;
    background-color: white;
    border-radius: 15px;
    margin-left: 1vw;
}

.cloud2 {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
}

.cloud2:before {
    width: 50px;
    height: 50px;
    top: -20px;
    left: 25px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 40px -10px 0 20px #fff, 80px -10px 0 10px #fff, 115px -5px 0 -10px #fff;
}

.clouds {
    position: absolute;
    top: 10%;
    left: 20%;
    display: flex;
    opacity: 0;
    width: 30vw;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 0.2s;
}

.cDisp {
    opacity: 0.9 !important;
    /* transition: all 0s; */
    transition: opacity ease-in 0.5s;
}

.stars {
    position: absolute;
    display: block;
    right: 20vw;
    height: 27vh;
    width: 40vw;
    top: 0;
    opacity: 0;
    transition-duration: 0.2s;
}

#midground {
    background: url(../../assets/midground.png) repeat 20% 20%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    width: inherit;
    z-index: 997;
}

#foreground {
    background: url(../../assets/foreground.png) repeat 20% 110%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    width: inherit;
    z-index: 998;
}

@media screen and (min-width: 480px) and (max-width: 1300px) {
    .hindi, .english {
        width: 100vw;
        justify-content: center;
    }
    .main {
        flex-direction: column;
    }
    .hindi>a {
        border-right: 2px;
    }
    .english>a {
        border-left: 2px;
    }
}