<div class="main">
    <div class="hindi" (mouseenter)="expression=true" [ngClass]="{'expand':expression, 'shrink':expression1}" (mouseleave)="expression=false">
        <div class="background"></div>
        <div class="clouds" [ngClass]="{'disp':expression}">
            <div class="cloud1" style="align-self: center;"></div>
            <div class="cloud2"></div>
            <div class="cloud1" style="align-self: flex-start;"></div>
        </div>
        <div class="sun" [ngClass]="{'disp':expression}"></div>
        <a class="lang" routerLink="Hindi">हिन्दी</a>
    </div>

    <div class="english" (mouseenter)="expression1=true;" [ngClass]="{'expand1':expression1, 'shrink':expression}" (mouseleave)="expression1=false">
        <div class="background"></div>
        <div id="starContainer" class="stars">
            <div class="star" *ngFor="let star of stars" [ngClass]="{'disp':expression1}" [ngStyle]="{'right': star.right, 'top':star.top}">
            </div>
        </div>
        <div class="moon" [ngClass]="{'disp':expression1}"></div>
        <a class="lang" routerLink="En">English</a>
    </div>
</div>