<div class="full-screen">
    <div class="center">
        <p id="lang">Please Select a language / कृपया भाषा चुनें</p>
        <a routerLink="En">
            <div class="dimensions">
                <p class="lang-main">A B C D</p>
                <p class="lang-name">English</p>
            </div>
        </a>
        <a routerLink="Hindi">
            <div class="dimensions">
                <p class="lang-main">क ख ग</p>
                <p class="lang-name">हिंदी</p>
            </div>
        </a>
    </div>
</div>