<div class="main">
    <div class="hindi" (mouseenter)="expression=true" [ngClass]="{'expand':expression, 'shrink':expression1}"
    (mouseleave)="expression=false">
    <div class="background">

    </div>
        <div class="sun"   [ngClass]="{'disp':expression}" >

        </div>
        <a class="lang" routerLink="Hindi">
            हिन्दी
        </a>

    </div>
    <div class="english" (mouseenter)="expression1=true" [ngClass]="{'expand1':expression1, 'shrink':expression}"
    (mouseleave)="expression1=false">
    <div class="background">

    </div>
        <div class="moon" [ngClass]="{'disp':expression1}">

        </div>
        <a class="lang" routerLink="En">
            English
        </a>
    </div>
</div>