<div class="container full-screen">
    <div class="align">
        <form (ngSubmit)="getDataFromApi(weatherLocation.value)" [formGroup]="weatherLocation">
            <div class="form-group">
                <input class="form-control" id="location" type="text" placeholder="कृपया मौसम की खोज के लिए एक स्थान इनपुट करें ...." formControlName='location'>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-md">मौसम की खोज करें</button>
            </div>
        </form>
    </div>

    <div class="display">
        <p class="item1"><img class="image" src="../../assets/location.svg"> &nbsp;{{ this.hindiLocation.text[0] }}</p>
        <p class="item2">{{ this.weatherData?.current.weather_descriptions[0] }}</p>
        <p class="item3"><img class="image" src="../../assets/temprature.svg"> &nbsp;{{ this.weatherData?.current.temperature }} &#176; C</p>
        <p><img class="image" src="../../assets/wind.svg"> &nbsp;हवा: {{ this.weatherData?.current.wind_speed }} किमी प्रति घंटे</p>
        <p><img class="image" src="../../assets/precip.svg"> &nbsp;वर्षण: {{ this.weatherData?.current.precip }} मिलीमीटर</p>
        <p><img class="image" src="../../assets/pressure.svg"> &nbsp;दबाव: {{ this.weatherData?.current.pressure }} मिलीबार</p>
    </div>
</div>