<div class="container full-screen center">
    <div class="back">
        <img src="../../assets/back_arrow.svg" (click)="goBack()">
    </div>
    <div>
        <form class="input-grid" (ngSubmit)="getDataFromApi(weatherLocation.value)" [formGroup]="weatherLocation">
            <div class="form-group">
                <input class="form-control" id="location" type="text" placeholder="City Name" formControlName='location'>
            </div>
            <div class="form-group">
                <input class="form-control" id="location" type="text" placeholder="Country" formControlName='location'>
            </div>
            <div class="submit-button">
                <button type="submit" class="btn btn-success btn-md">Search for the weather</button>
            </div>
        </form>

        <div class="display">
            <p class="item1"><img class="image" src="../../assets/location.svg"> &nbsp;{{ this.weatherData$?.city.name }}</p>
            <p class="item2">{{ this.weatherData$?.list[0].weather[0].description }}</p>
            <p class="item3"><img class="image" src="../../assets/temprature.svg"> &nbsp;{{ this.reduce(this.weatherData$?.list[0].main.temp - 273.15) }} &#176; C</p>
            <p><img class="image" src="../../assets/wind.svg"> &nbsp;Wind: {{ this.weatherData$?.list[0].wind.speed }} kmph</p>
            <p><img class="image" src="../../assets/precip.svg"> &nbsp;Humidity: {{ this.weatherData$?.list[0].main.humidity }} %</p>
            <p><img class="image" src="../../assets/pressure.svg"> &nbsp;Pressure: {{ this.weatherData$?.list[0].main.pressure }} mb</p>
        </div>
    </div>
</div>